Dear $userRequestDTO.firstName $userRequestDTO.lastName,

Your password has been reset as per your request.
You may login using the following credentials:

Username : $userRequestDTO.emailAddress
Password : $userRequestDTO.password


Please login to your account immediately and change your password.

If you did not trigger this request, please contact msu.singapore@citi.com .

Sincerely,
Digital Receipt Host Admin
https://digitalreceipt.imerchant.asia
