Dear $userRequestDTO.firstName $userRequestDTO.lastName,

Welcome to Mailsy Web. Your account has been created successfully.

You may login to Mailsy Web using the following credentials:

Username : $userRequestDTO.emailAddress
Password : $userRequestDTO.password


Sincerely,
Mailsy Admin
