<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <security:global-method-security pre-post-annotations="enabled"/>

    <security:http pattern="/resources/main_theme/**" security="none"/>

    <security:http pattern="/forgetPassword/**" security="none"/>

    <security:http pattern="/unsubscribe/**" security="none"/>


    <security:http auto-config="true" use-expressions="true">

        <security:intercept-url pattern="/main/merchant/**" access="isAuthenticated"/>
        <security:intercept-url pattern="/main/admin/**"
                                access="isAuthenticated and hasRole('MAILSY_ADMIN')"/>
        <security:intercept-url pattern="/main/**" access="isAuthenticated"/>

        <security:form-login login-page="/login-page"
                             always-use-default-target="true"
                             username-parameter="username" password-parameter="password"
                             login-processing-url="/login"
                             default-target-url="/main"
                             authentication-failure-url="/login-error"/>
        <security:logout invalidate-session="true" logout-success-url="/login-page"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="authenticationServiceImpl">
            <security:password-encoder hash="md5"/>
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="authenticationServiceImpl"
          class="com.equivi.mailsy.service.authentication.AuthenticationServiceImpl"/>
</beans>